@{
    Layout = "CustomerAccount";
    ViewData["Title"] = "Your Order Detail";
}

@model eCommerce.Storefront.Controllers.ViewModels.CustomerAccount.CustomerOrderView

<h2>Order #@Model.Order.Id placed on @Model.Order.Created.ToLongDateString() at @Model.Order.Created.ToShortTimeString()</h2>    
@if (Model.Order.OrderHasBeenPaidFor == false) 
{
    <p>This order has not been paid. @Html.ActionLink("Pay", "CreatePaymentFor", "Payment", new { orderId = Model.Order.Id }, null)</p>
}
else
{
    <p>Paid on @Model.Order.PaymentDatePaid Payment ref @Model.Order.PaymentTransactionId</p>
}
<ul>
@foreach (var item in Model.Order.Items)
{
    <li>@item.Qty of @item.ProductName (@item.ProductSizeName) at @string.Format("{0:F}", item.Price)</li>
}
</ul>    
<p>Shipping Charge: @string.Format("{0:F}", Model.Order.ShippingCharge)</p>
<p>Shipping Via: @Model.Order.ShippingServiceCourierName - @Model.Order.ShippingServiceDescription</p>
<p>Total: @string.Format("{0:F}", Model.Order.Total)</p>
<p>Delivery Address</p>
@Model.Order.DeliveryAddress.AddressLine<br />
@Model.Order.DeliveryAddress.City<br />
@Model.Order.DeliveryAddress.State<br />
@Model.Order.DeliveryAddress.ZipCode<br />
@Model.Order.DeliveryAddress.Country<br /><br />
