@{
    Layout = "Site";
    ViewData["Title"] = "Log On";
}

@if (Model.HasIssue) 
{
    <p>
        <div style="color: #D63301; background-color: #FFCCBA; padding:15px 10px 15px 50px;" >
            @Model.Message
        </div>
    </p>
}

<h2>Log On</h2>
<p>
    Please enter your email and password. @Html.ActionLink("Register", "Register", "AccountRegister") if you don't have an account.
</p>
@Html.ValidationSummary("Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) 
{
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <p>
                <label for="email">Email</label><br />
                @Html.TextBox("email")
                @Html.ValidationMessage("email")
            </p>
            <p>
                <label for="password">Password</label><br />
                @Html.Password("password", null, new { @autocomplete = "off" })
                @Html.ValidationMessage("password")
            </p>
            <p>
                <input type="submit" value="Log On" />
            </p>
        </fieldset>
    </div>
}

<script>
    $(document).ready(function() {
        if (!$('#email').val()) {
            $('#email').val('@ViewData["email"]');
        }

        if (!$('#password').val()) {            
            $('#password').val('@ViewData["password"]');   
        }
    });
</script>