@page "/admin/size/detail/{Id:int?}"
@attribute [Authorize(Roles = "Admin")]
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<Alert Title="@error" ErrorList="new List<string>()" CSSClass="danger" />

<Details Title="Size" TItem="ProductSizeDto" Item="size" CanDelete="@(size?.Id > 0)" OnSave="@((item) => SaveSize(item as ProductSizeDto))" OnDelete="@((item) => DeleteSize(item as ProductSizeDto))" OnCancel="@((item) => NavigationManager.NavigateTo("/admin/size/list"))">       
    <FormFields Context="size">
        <div class="row">
            <div class="col-md-12">
                <label>Name</label>
            </div>
            <div class="col-md-12">
                <RadzenTextBox @bind-Value="size.Name" class="col-md-12"></RadzenTextBox>
            </div>
        </div>
    </FormFields>
</Details>

@code {
    [Parameter]
    public int? Id { get; set; }

    string route = "api/sizes";
    string listUrl = "/admin/size/list";
    ProductSizeDto size;
    string error;

    protected override async Task OnParametersSetAsync()
    {
        if (Id.HasValue)
        {
            size = await HttpClient.GetFromJsonAsync<ProductSizeDto>($"{route}/{Id}");
        }
        else
        {
            size = new ProductSizeDto();   
        }
    }

    async Task SaveSize(ProductSizeDto item)
    {
        if (item != null)
        {
            if (item.Id > 0)
            {
                HttpResponseMessage httpResponseMessage = await HttpClient.PutAsJsonAsync<ProductSizeDto>($"{route}/{item.Id}", item);

                if (httpResponseMessage != null && httpResponseMessage.IsSuccessStatusCode)
                {
                    NavigationManager.NavigateTo(listUrl);
                }
                else
                {
                    error = await httpResponseMessage.Content.ReadAsStringAsync();
                }
            }
            else 
            {
                HttpResponseMessage httpResponseMessage = await HttpClient.PostAsJsonAsync<ProductSizeDto>(route, item);

                if (httpResponseMessage != null && httpResponseMessage.IsSuccessStatusCode)
                {
                    NavigationManager.NavigateTo(listUrl);
                }
                else
                {
                    error = await httpResponseMessage.Content.ReadAsStringAsync();
                }
            }
        } 
    }

    async Task DeleteSize(ProductSizeDto item)
    {
        if (item != null && item.Id > 0)
        {
            HttpResponseMessage httpResponseMessage = await HttpClient.DeleteAsync($"{route}/{item.Id}");

            if (httpResponseMessage != null && httpResponseMessage.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo(listUrl);
            }
            else
            {
                error = await httpResponseMessage.Content.ReadAsStringAsync();
            }
        }
    }
}