@{
    ViewData["Title"] = $"{Model.Product.BrandName} {Model.Product.Name} for only {Model.Product.Price}";
    Layout = "ProductCatalog";
}

@model eCommerce.Storefront.Controllers.ViewModels.ProductCatalog.ProductDetailView

<script type="text/javascript">
    function addProductToBasket() {
        showOverlay("smoverlay", "basketSummary", 5);

        var postData = { productId: $("#productsizes").val() };
        
        $.post('/Basket/AddToBasket', postData, updateBasket, "json");
    }

    function updateBasket(basketSummaryView) {
        updateBasketSummary(basketSummaryView);
        hideOverlay("smoverlay");
    }

    function navigateToLogOn() {
        location.href = '/AccountLogOn/LogOn';
    }
</script>

<h2>@Model.Product.BrandName @Model.Product.Name</h2>
<div>
    <span style="float: left">
        <img src=@("/content/images/products/" + Model.Product.Id.ToString() + ".jpg") alt="Product @Model.Product.Id.ToString()" />
    </span>
    <div>
        @Model.Product.Price<br />
        @Model.Product.BrandName @Model.Product.Name<br />
        <p>
            <select id="productsizes">
            @foreach (var option in Model.Product.Products)
            {
                <option value="@option.Id">@option.SizeName</option>
            }
            </select>
            @if (User.Identity.IsAuthenticated)
            {
                <input type="button" value="+ Add to cart" onclick="JavaScript:addProductToBasket();" />
            }
            else
            {
                <input type="button" value="+ Add to cart" onclick="JavaScript:navigateToLogOn();" />
            }
        </p>
    </div>
</div>
